<app-invoice-insert-model (notifyParent)="onChildNotify()"></app-invoice-insert-model>

<table class="table container">
    <thead>
      <tr>
        <th>Invoice ID</th>
        <th>Date</th>
        <th>Customer ID</th>
        <th>Status</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
        <td>{{ invoice.invoiceID }}</td>
        <td>{{ dateFormatted(invoice.date)}}</td>
        <td>{{ invoice.customerID }}</td>
        <td>{{ invoice.status }}</td>
        <td>{{ invoice.amount }}</td>
        <td>
          <app-invoice-edit-model [invoiceEdit]="invoice"/>
        </td>
      </tr>
    </tbody>
  </table>
  

  